<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="InboundTaskCollectionBatchSize" value="1" />
        <add key="IssueReceipts" value="true" />
        <add key="EnableDebugLogging" value="true"/>
    </appSettings>
    <connectionStrings>
        <add name="InboundTasks" connectionString="@tcp://localhost:5556" />
        <add name="OutboundTasks" connectionString="tcp://localhost:5558" />
        <add name="OutboundTaskReceipts" connectionString="tcp://localhost:5557" />
    </connectionStrings>
</configuration>